<div class="hero-unit">
	<h1>Welcome to Disclosio!</h1>
	<p>
		You've come to the home page for the 
		<%= link_to "Disclosio", "http://disclosio.com" %> 
		a new tool for Real Estate Professionals!
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
</div>